*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    width: 100vw;
    font-size: 16px;
    background-color: #f3e4d9;
    padding: 5% 30%;
}

.container {
    background-color: #fefefe;
    border-radius: 10px;
    padding: 20px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

img {
    border-radius: 7.5px;
    width: 100%;
}

.bold {
    font-weight: bold;
}

ul, ol {
    padding-left: 10%;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preparation-time {
    background-color: #fff6fd;
    border-radius: 7.5px;
}

li {
    margin: 5px 0;
}

.line {
    border: 1px solid #f1f0f1;
}